html, body {
  background-color: rgb(37, 40, 45);
}

.chart__axis line{
  stroke: white;
}

.chart__axis path{
  stroke: white;
}

.chart__axis text{
  fill: white;
}

.chart__legend {
  fill: white;
}

.chart__grid line {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.chart__grid path {
  stroke: lightgrey;
  stroke-opacity: 0.5;
}

.grid path {
stroke-width: 0;
}